<div class="it-hero-wrapper it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="https://images.unsplash.com/photo-1651372381086-9861c9c81db5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" title="img title" alt="imagealt"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <h1 class="no_toc">Comune GJD</h1>
          <p class="d-none d-lg-block">Scopri tutti i servizi da "Comune GJD</p>
          <div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="aree">Vai alle aree tematiche</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-wrapper card-space">
        <div class="card card-bg">
          <div class="card-body">
            <h6>•In evidenza</h6> 
            <h5 class="card-title">Obiettivi 2035 per Fontanafredda: Una Città a Misura di Giovani e Famiglie</h5>

    <p>Come giovane cittadino impegnato nel costruire il futuro della nostra comunità, ritengo che sia cruciale puntare su obiettivi ambiziosi e concreti per il benessere di tutti, con un'attenzione particolare alle famiglie, ai giovani e alle loro necessità. Gli Obiettivi 2035 rappresentano una visione di inclusione, sostegno e crescita attraverso interventi mirati che rendano Fontanafredda un esempio di progresso, equità e partecipazione.</p>

    <p>Ecco le principali proposte:</p>

    <ol>
        <li>
            <strong>Consolidamento dei Servizi alle Famiglie</strong>
            <p>Il Comune deve rafforzare e integrare i servizi di supporto, con particolare attenzione alle famiglie che affrontano difficoltà economiche. Questo include programmi di orientamento, accesso facilitato ai servizi sociali, educativi e di benessere, in collaborazione con enti regionali, provinciali e governativi.</p>
        </li>
        <li>
            <strong>Inclusione dei Giovani nello Sport</strong>
            <p>Lo sport è una risorsa educativa e sociale fondamentale per la crescita dei giovani. Proponiamo di stanziare fondi per consentire l'accesso gratuito o agevolato alle attività sportive per i ragazzi provenienti da famiglie con redditi bassi. Questa misura contribuirà a ridurre le disuguaglianze, favorendo l'inclusione e lo sviluppo personale.</p>
        </li>
        <li>
            <strong>Ampliamento dell'Accesso ai Servizi Culturali ed Educativi</strong>
            <p>La cultura e l'educazione devono essere facilmente accessibili. Per questo motivo, proponiamo di estendere i tempi di apertura delle biblioteche comunali e di offrire maggiori risorse e supporti per il diritto allo studio. Garantire periodi di prestito prolungati e spazi di studio potenziati renderà Fontanafredda un centro vibrante di apprendimento.</p>
        </li>
        <li>
            <strong>Sostegno al Trasporto per gli Studenti</strong>
            <p>Fontanafredda è una piccola città che non ospita scuole superiori. Per questo motivo, è essenziale garantire un servizio di trasporto adeguato per gli studenti, finanziato attraverso bandi comunali. Ciò renderà più agevole e sicuro il percorso scolastico, riducendo l'isolamento e facilitando l'accesso a un'istruzione di qualità.</p>
        </li>
        <li>
            <strong>Risorse Comunali per il Benessere e lo Sviluppo</strong>
            <p>Gli obiettivi non si limitano al supporto economico, ma mirano a creare un contesto che valorizzi i giovani e le famiglie. Dall'incremento delle strutture sociali e ricreative all'investimento in programmi educativi e formativi, vogliamo che Fontanafredda diventi un punto di riferimento per la coesione sociale e l'innovazione.</p>
        </li>
    </ol>

    <p>Attraverso il raggiungimento di questi obiettivi, Fontanafredda potrà diventare un luogo dove ogni giovane ha l'opportunità di crescere e prosperare, dove le famiglie trovano supporto concreto e dove la comunità si unisce per costruire un futuro migliore.</p>
            <a class="read-more" href="/about/">
              <span class="text">Leggi di più</span>
              <svg class="icon">
                <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
