<div class="it-hero-wrapper it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="https://comune.gjdev.it/assets/img/hero/peace-dove2.png.webp" title="img title" alt="imagealt"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <h1 class="no_toc">Comune GJD</h1>
          <p class="d-none d-lg-block">Scopri tutti i servizi da "Comune GJD</p>
          <div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="aree">Vai alle aree tematiche</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-wrapper card-space">
        <div class="card card-bg">
          <div class="card-body">
            <h6>•In evidenza</h6> 
            <h5 class="card-title">Obiettivi 2035 per Fontanafredda: Una Città a Misura di Giovani e Famiglie</h5>

        <p>Nel 2035, Fontanafredda sarà una città dove il progresso e l'equità si incontrano. Con un focus sui servizi alle famiglie, l'inclusione dei giovani, l'accesso alla cultura e l'istruzione, vogliamo garantire un futuro prospero per tutte le generazioni. Scopri i dettagli dei nostri obiettivi <a href="obiettivi.html">qui</a>.</p>

            <a class="read-more" href="/about/">
              <span class="text">Leggi di più</span>
              <svg class="icon">
                <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
