<div class="it-hero-wrapper it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="https://comune.gjdev.it/assets/img/hero/photo-1651372381086-9861c9c81db5.avif" title="img title" alt="imagealt"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <h1 class="no_toc">Giunta Giovani</h1>
          <p class="d-none d-lg-block">Scopri la giunta giovani 2025-2028</p>
          <div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="https://comune.gjdev.it/uffici/giunta-giovani">Vai alla giunta</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-wrapper card-space">
        <div class="card card-bg">
          <div class="card-body">
            <h6>•In evidenza</h6> 
            <h5 class="card-title">Giunta Giovani - questo è il futuro!</h5>

        <p>A partire da gennaio 2025 nascerà ufficialmente la Giunta Giovani! Un team di giovani orientati all'innovazione, suddiviso in 5 assessorati, ognuno dedicato a una specifica area delle politiche giovanili. Un gruppo dinamico che avrà il compito di creare, valutare e presentare proposte innovative, approvandole o rivedendole in base alle esigenze della comunità!</p>

            <a class="read-more" href="/uffici/giunta-giovani/">
              <span class="text">Leggi di più</span>
              <svg class="icon">
                <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
