---
layout: default
---
<article class="container my-4">
  <div class="entry">
    {{ content }}
  </div>
----
  <div class="date">
<article class="it-page-section anchor-offset mt-5">
                            <h4 id="a-cura-di">A cura di</h4>
                            <div class="row">
                                <div class="col-12 col-sm-8">
                                    <h6><small>Questa pagina è gestita da</small></h6>
                                    
            <div class="card card-teaser card-teaser-info rounded p-3 m-1 bx-shadow-sm">
            <div class="card-body pe-3">
                <h5 class="card-title fs-5 fw-semibold">
                    <a class="text-decoration-none" href="https://arena-giovani.gjdev.it/" data-element="service-area">
                        Arena Giovani
                    </a>
                </h5>
                <div class="card-text">
                    <p>
                                            </p>
                </div>
            </div>
                    </div>
                                    </div>
                                                            </div>
                        </article>    Scritto il {{ page.date | date: "%d/%m/%Y" }}
    
  </div>

  {% include disqus.html %}
</article>
